.open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}
.open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

/*_________________________________ */

* {
  box-sizing: border-box;
  margin: 0;
}
ul,
li {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1252px;
  margin-inline: auto;
  padding-inline: 10px;
}

/*__________________________________ */

header {
  min-height: 720px;
  /* height: 100vh; */
  padding-top: 48px;
  margin-block-end: 154px;
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: cover;
  .container {
    max-width: 1292px;;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  /* margin-top: 48px; */
  height: 48px;
  align-items: center;
  margin-bottom: 71px;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #00252e;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 48px;
  }
  .btn:hover {
    color: #808e9a;
    transition: all 0.5s ease-in-out;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #00252e;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 48px;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  color: #808e9a;
}

.header__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 70px;
  row-gap: 56px;
  align-items: flex-start;
  min-height: 482px;
  img {
    display: inline-block;
    height: fit-content;
    background-size: contain;
  }
}
.header__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 32px;
  flex-basis: 520px;
  min-height: 321px;
  margin-block-start: 86px;
  h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #00252e;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    color: #00252e;
  }
}
.started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background-color: #ff52c1;
  width: 280px;
  height: 56px;
  border-radius: 28px;
  box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
  transition: all 0.5s ease-in-out;
}
.started-btn:hover {
  background: #ff9adb;
}

main {
  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #00252e;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #808e9a;
  }
}

.section {
  min-height: 440px;
  max-width: 1232px;
  margin-block-end: 36px;
  padding-inline-start: 120px;
  padding-inline-end: 16px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  align-items: center;
  justify-content:space-between;

  img {
    margin-inline: 10px;
  }
}
.section.flowing {
  padding-inline-start: 109px;
  padding-inline-end: 39px;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-inline: 10px;
}
.main-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 440px;
}

/* .grow {

} */
.grow__content {
  width: 488px;
}

.flowing__content {
  width: 499px;
}
.users {
  margin-block-end: 344px;
}
.users__content {
  width: 477px;
}

footer {
  position: relative;
  background-color: #00252e;
  color: #fff;
}
.ready {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-68%);
  top: 0;
  width: 800px;
  height: 280px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
    color: #00252e;
    margin-block-end: 32px;
  }
  .started-btn {
    width: 400px;
    height: 80px;
    border-radius: 40px;
    filter: drop-shadow(0px 6px 13px rgba(0, 37, 46, 0.22));
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
}

.contacts .container {
  display: flex;
  flex-direction: column;
  padding-inline: 5px;
  .contacts-logo {
    flex-basis: 209px;
    display: flex;
    align-items: flex-end;
    padding-block-end: 32px;
  }
  .contacts-info {
    flex-basis: 209px;
    display: flex;
    column-gap: 130px;
    row-gap: 50px;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-block-end: 53px;
    font-size: 14px;
    line-height: 24px;
    .colomn {
      display: flex;
      flex-direction: column;
    }
    .cont {
      gap: 17px;
      max-width: 379px;
      .cont-text {
        display: inline-block;
        background-image: url(../images/icon-location.svg);
        background-repeat: no-repeat;
        background-position: 0 6px;
        padding-inline-start: 40px;
      }
      .cont-tel {
        display: inline-block;
        padding-inline-start: 40px;
        background-image: url(../images/icon-phone.svg);
        background-repeat: no-repeat;
        background-position: 0 6px;
      }
      .cont-email {
        display: inline-block;
        padding-inline-start: 40px;
        background-image: url(../images/icon-email.svg);
        background-repeat: no-repeat;
        background-position: 0 6px;
      }
    }

    nav {
      display: flex;
      flex-basis: 340px;
      justify-content: space-between;

      .about {
        display: flex;
        row-gap: 12px;
        min-width: 96px;

        a {
          display: inline-block;
          line-height: 14px;
          padding-block-end: 1px;
          border-block-end: 1px solid transparent;
          transition: all 0.5s ease-in-out;
        }
        a:hover {
          border-block-end-color: currentColor;
        }
      }

      .career {
        display: flex;
        row-gap: 12px;
        /* flex-basis: 116px; */
        a {
          display: inline-block;
          line-height: 14px;
          padding-block-end: 1px;
          border-bottom: 1px solid transparent;
          transition: all 0.5s ease-in-out;
        }
        a:hover {
          border-bottom: 1px solid;
        }
      }
    }

    .copyright {
      display: flex;
      /* flex-grow: 1; */
      row-gap: 24px;
      align-self: stretch;
      justify-content: space-between;
      min-width: 262px;
      color: #fff;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      .social {
        display: flex;
        gap: 12px;
        .fb {
          display: inline-block;
          background-image: url(../images/icon-fb.svg);
          width: 31px;
          height: 31px;
          background-repeat: no-repeat;
          transition: 0.5s;
        }
        .fb:hover {
          background-image: url(../images/icon-fb-pink.svg);
        }
        .tw {
          display: inline-block;
          background-image: url(../images/icon-twiter.svg);
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          transition: 0.5s;
        }
        .tw:hover {
          background-image: url(../images/icon-twiter-pink.svg);
        }
        .ins {
          display: inline-block;
          background-image: url(../images/icon-inst.svg);
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          transition: 0.5s;
        }
        .ins:hover {
          background-image: url(../images/icon-inst-pink.svg);
        }
      }
    }
  }
}
