# Avoid accidental Sketch file upload 
###############################################
## Please do not remove line 5 - thanks! 🙂 ##
###############################################
*.sketch

# Avoid accidental XD or Figma upload if you convert the design file
#######################################################
## Please do not remove lines 11 and 12 - thanks! 🙂 ##
#######################################################
*.xd
*.fig

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store

# Ігнорування системних файлів
Thumbs.db

# Ігнорування конфігураційних файлів редакторів
.vscode/


# Ігнорування власної теки, яка є тимчасовою
**/_temp/*
